[Unit]
Description=Awww Daemon - Gestor de fondos animados para Nirakase
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/awww-daemon
# swww se cierra de forma limpia con este comando
ExecStop=/usr/bin/awww kill
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
