[Unit]
Description=Hypridle - Gestor de inactividad para Wayland en Nirakase
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hypridle
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
