// --- Nirakase: Window Rules ---

// ---------------------------------------------------------
// 1. NIRAKASE ECOSYSTEM RULES (Terminal Scripts)
// ---------------------------------------------------------
window-rule {
    // match app-id=r#"^(org\.nirakase\.)"#
    match app-id=r#"^org\.nirakase\..*"#

    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}

// ---------------------------------------------------------
// 1.5. FLOATING WALLPAPER SELECTOR (Quickshell QML)
// ---------------------------------------------------------
window-rule {
    match app-id="^nirakase-wallpaper-picker$"
    match title="^Nirakase Wallpaper Picker$"

    open-floating true
    default-column-width { proportion 0.8; }
    default-window-height { proportion 0.55; }
}

// ---------------------------------------------------------
// 2. DEFAULT FLOATING WINDOWS
// ---------------------------------------------------------
window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="pavucontrol"          // Advanced volume control
    match app-id="nm-connection-editor" // Network editor
    match app-id="blueman-manager"      // Bluetooth manager
    match app-id="blueman-manager"      // Bluetooth manager
    match app-id="satty"                // Satty
    
    // Dialog windows requesting confirmation or saving files
    match title="^Open File$"
    match title="^Save File$"
    match title="^Choose Files$"

    match app-id="xdg-desktop-portal-gtk"
    match app-id="xdg-desktop-portal-gnome" // "Save File" windows
    match app-id="polkit-gnome-authentication-agent-1" // Password requests
    
    open-floating true
    open-on-workspace "current"
}

// ---------------------------------------------------------
// 3. CUSTOM SIZES
// ---------------------------------------------------------
window-rule {
    match app-id=r#"^(firefox|brave-browser|google-chrome)"#
    
    default-column-width { proportion 0.7; }  // Column at 70% of screen width
}

// ---------------------------------------------------------
// 4. PRIVACY AND SECURITY RULES
// ---------------------------------------------------------
// Prevents sensitive applications from being visible during screen sharing
window-rule {
    match app-id=r#"(bitwarden|1Password|KeePassXC)"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    
    block-out-from "screen-capture"
}


// ---------------------------------------------------------
// 5. GLOBAL RULE
// ---------------------------------------------------------
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

// Inactive windows
window-rule {
  match is-active=false
  opacity 0.95
}


// ---------------------------------------------------------
// 6. OTHERS
// ---------------------------------------------------------
// Foot Opacity
window-rule {
    match app-id="foot" is-active=false

    opacity 0.95
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

