[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=nirakase-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=/home/rbailon/.local/share/applications/icons/discord.png
StartupNotify=true
